@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-aleo: "Aleo", "Aleo Fallback", Georgia, serif;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --background-image-hero-radial-light: radial-gradient(
    ellipse 100% 100% at 50% var(--bg-pos, 5%),
    var(--gradient-start) 0%,
    var(--gradient-start) var(--bg-mid, 40%),
    var(--gradient-mid-light) var(--bg-mid-alt, 70%),
    var(--gradient-mid-light) 70%,
    var(--gradient-mid-dark) 85%,
    var(--gradient-end-light) 100%
  );
  --background-image-hero-radial-dark: radial-gradient(
    ellipse 100% 100% at 50% var(--bg-pos, 5%),
    var(--gradient-start) 0%,
    var(--gradient-start) var(--bg-mid, 40%),
    var(--gradient-mid-dark) 85%,
    var(--gradient-end-dark) 100%
  );
  --background-image-footer-radial-light: radial-gradient(
    ellipse 100% 100% at 50% var(--bg-pos-footer, 0%),
    var(--gradient-start) 50%,
    var(--gradient-start) 30%,
    var(--gradient-mid-light) 76%,
    var(--gradient-mid-light) 70%,
    var(--gradient-mid-dark) 85%,
    var(--gradient-end-light) 100%
  );
  --background-image-footer-radial-dark: radial-gradient(
    ellipse 100% 100% at 50% var(--bg-pos-footer, 0%),
    var(--gradient-start) 50%,
    var(--gradient-mid-dark) 70%,
    var(--gradient-mid-light) 90%,
    var(--gradient-end-light) 100%
  );

  --background-image-footer-radial-dark-mobile: radial-gradient(
    ellipse 150% 100% at 50% var(--bg-pos-footer, 0%),
    var(--gradient-start) 50%,
    var(--gradient-mid-dark) 70%,
    var(--gradient-mid-light) 85%,
    var(--gradient-end-light) 100%
  );

  --background-image-footer-radial-light-mobile: radial-gradient(
    ellipse 150% 100% at 50% var(--bg-pos-footer, 0%),
    var(--gradient-start) 50%,
    var(--gradient-mid-light) 70%,
    var(--gradient-mid-light) 5%,
    var(--gradient-end-light) 100%
  );
}

:root {
  --radius: 0.625rem;
  --spacing: 0.25rem;
  --tracking-normal: 0em;
  --gradient-start: #ffffff;
  --gradient-mid-light: #dc8e43;
  --gradient-mid-dark: #c76829;
  --gradient-end-light: #9c3a21;
  --gradient-end-dark: #dc8e43;
  --gradient-orb-base: #e9b88a;
  --orb-color-light: rgba(233, 184, 138, 0.35);
  --orb-color-dark: rgba(199, 104, 41, 0.35);
  --orb-color-dark-fade: rgba(199, 104, 41, 0.15);
}